.hero-container {
  display: flex;

  padding: 25px;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
  margin: auto;
  row-gap: 70px;
}

.image-card {
  border: 1px solid #000;
  width: 360px;
  height: 220px;
  /* width: 310px;
  height: 227px; */
}
.pic-card {
  /* width: 310px;
  height: 227px; */
  width: 360px;
  height: 220px;
}

.image-info {
  border-top: none;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  margin: 6px 10px;
  gap: 15px;
}
.item-text {
  border: 2px solid #6495ed;
  border-radius: 2px;
}
