.hero-container {
  display: flex;

  padding: 25px;
  flex-wrap: wrap;

  align-items: flex-start;
  gap: 60px;
  margin: auto;
  /* row-gap: 50px; */
}

.image-card {
  border: 1px solid #000;

  width: 310px;
  height: 227px;
}
.pic-card {
  width: 310px;
  height: 227px;
}

.image-info {
  border-top: none;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  margin: 6px 10px;
  gap: 15px;
}
.item-text {
  border: 1px solid #000;
}
